{% extends "layout.html"%}

{{title}}


<h1>Update your Profile!</h1>

{% block content %}

<form action=" " method="POST">

  {{ form.hidden_tag() }}
  <p>
    {{ form.password.label }}<br>
    {{ form.password(size=32) }}<br>
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
    <p>
      {{ form.confirm.label }}<br>
      {{ form.confirm(size=32) }}<br>
      {% for error in form.confirm.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>

  <p>{{ form.submit() }}</p>
</form>

{% endblock %}