<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if title %}
      <title>{{ title }} - Microblog</title>
    {% else %}
      <title>Welcome to Microblog</title>
    {% endif %}
</head >

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <a  class="navbar-brand mr-4" href="{{ url_for('home') }}">COOA</a>

          <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="nav-item nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
              
                <div class="navbar-nav">
                  {% if current_user.is_anonymous %}
                    <a class="nav-item nav-link"  href="{{ url_for('login') }}">Login In</a>
                    <a  class="nav-item nav-link"  href="{{ url_for('register') }}">Register</a>
                  {% else %}
                    <a class="nav-item nav-link"  href="{{ url_for('profile') }}">Profile</a>
                    <a class="nav-item nav-link"  href="#">Message</a>
                    <a class="nav-item nav-link"  href="{{ url_for('new_post')}}">New Post</a>+
                    <a class="nav-item nav-link" href="{{'logout'}}">Logout</a>
                  {% endif %}
            </div>
            </div>
          </div>
      </div>
    </nav>
  </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                   {% for category, message in messages %} 
                    <div class="alert alert-{{ category }}">
                      {{ message }}
                    </div>
                      {% endfor %}
               {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
          </div>
            {% block foot %}
    
  {% endblock %}
 </div>
</div>
</main>
</body>
</html>